{% extends "base.html" %}

{% block title %}
Notifications
{% endblock %}

{% block content %}

<section class="dashboard">

    <div class="dashboard-header">

        <h1>Notifications</h1>

        <p>Your latest updates</p>

    </div>

    <!-- Action Buttons -->

    <div class="notification-actions">

        <a href="{% url 'mark_all_notifications_read' %}"
           class="btn btn-primary">

            <i class="fas fa-check-double"></i>

            Mark All Read

        </a>
        <div class="notification-delete">
        <a href="{% url 'clear_notifications' %}"
           class="btn delete-btn"
           onclick="return confirm('Clear all notifications?')">

            <i class="fas fa-trash"></i>

            Clear All

        </a>
</div>
    </div>

    {% for notification in notifications %}

    <div class="notification-card {% if not notification.is_read %}unread{% endif %}">

        <div class="notification-icon">

            {% if notification.notification_type == "Booking" %}

                <i class="fas fa-calendar-check booking-icon"></i>

            {% elif notification.notification_type == "Payment" %}

                <i class="fas fa-credit-card payment-icon"></i>

            {% elif notification.notification_type == "Wallet" %}

                <i class="fas fa-wallet wallet-icon"></i>

            {% elif notification.notification_type == "Coupon" %}

                <i class="fas fa-tags coupon-icon"></i>

            {% else %}

                <i class="fas fa-bell system-icon"></i>

            {% endif %}

        </div>

        <div class="notification-content">

            <h3>{{ notification.title }}</h3>

            <p>{{ notification.message }}</p>

            <small>

                {{ notification.created_at|timesince }} ago

            </small>

        </div>

        <div class="notification-delete">

            <a href="{% url 'delete_notification' notification.id %}"
               class="delete-btn"
               onclick="return confirm('Delete this notification?')">

                <i class="fas fa-trash"></i>

            </a>

        </div>

    </div>

    {% empty %}

    <div class="dashboard-box">

        <h3>No Notifications</h3>

        <p>You don't have any notifications yet.</p>

    </div>

    {% endfor %}

</section>

{% endblock %}