# Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3

# Environment
.env

# Static
staticfiles/

# Media
media/

# Python
venv/
.venv/

# IDE
.vscode/
.idea/
transfer_data.json
db.sqlite3
reset_sequences.py
.env