{% extends "base.html" %}
{% load static %}

{% block title %}
403 - Access Denied
{% endblock %}

{% block content %}

<section class="error-page">

    <div class="error-box">

        <i class="fas fa-lock error-icon"></i>

        <h1>403</h1>

        <h2>Access Denied</h2>

        <p>
            Sorry, you don't have permission to access this page.
        </p>

        <a href="{% url 'home' %}" class="dashboard-btn">
            Go Home
        </a>

    </div>

</section>

{% endblock %}
