<footer class="footer">

    <div class="footer-container">

        <!-- Company -->

        <div class="footer-column">

            <h2>DriveShare</h2>

            <p>
                India's trusted car rental marketplace where owners earn by listing vehicles and customers enjoy safe, verified rentals.
            </p>

            <div class="social-icons">

                <a href="#"><i class="fab fa-facebook-f"></i></a>

                <a href="#"><i class="fab fa-instagram"></i></a>

                <a href="#"><i class="fab fa-x-twitter"></i></a>

                <a href="#"><i class="fab fa-linkedin-in"></i></a>

            </div>

        </div>

        <!-- Quick Links -->

        <div class="footer-column">

            <h3>Quick Links</h3>

            <ul>

                <li><a href="/">Home</a></li>
 {% if user.user_type == "customer" %}
                <li><a href="{% url 'browse_cars' %}">Rent Cars</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Rent Cars</a></li>
                {% endif %}
               {% if user.user_type == "owner" %}
                <li><a href="{% url 'add_car' %}">List Your Car</a></li>
                {% else %}
                <li><a href="{% url 'signup' %}">List Your Car</a></li>
                {% endif %}
                <li><a href="{% url 'about' %}">About</a></li>

                <li><a href="{% url 'contact' %}">Contact</a></li>

            </ul>

        </div>

        <!-- Services -->

        <div class="footer-column">

            <h3>Services</h3>

            <ul>

                <li><a href="#">Self Drive Cars</a></li>

                <li><a href="#">Luxury Cars</a></li>

                <li><a href="#">Long Term Rental</a></li>


            </ul>

        </div>

        <!-- Contact -->

        <div class="footer-column">

            <h3>Contact</h3>

            <ul>

                <li><i class="fas fa-map-marker-alt"></i> Bengaluru, India</li>

                <li><i class="fas fa-phone"></i> +91 80734 84727</li>

                <li><i class="fas fa-envelope"></i> </li>

                <li><i class="fas fa-clock"></i> 24×7 Customer Support</li>

            </ul>

        </div>

    </div>

    <div class="footer-bottom">

        <p>

            © 2026 DriveShare. All Rights Reserved.

        </p>

        <div class="footer-links">

            <a href="#">Privacy Policy</a>

            <a href="#">Terms & Conditions</a>

            <a href="#">Cookies Policy</a>

        </div>

    </div>

</footer>