<nav class="navbar">

    <div class="logo">
        <a href="/">DriveShare</a>
    </div>

    <div class="menu-toggle" id="menu-toggle">

    <span></span>
    <span></span>
    <span></span>

</div>

    <ul class="nav-links">

    <li>
    <a href="/"
       class="{% if request.path == '/' %}active{% endif %}">
        Home
    </a>
</li>

    {% if user.is_authenticated %}

        {% if user.user_type == "customer" %}

            <li>
    <a href="{% url 'browse_cars' %}"
       class="{% if '/cars/' in request.path %}active{% endif %}">
        Rent Cars
    </a>
</li>

<li>
    <a href="{% url 'my_bookings' %}"
       class="{% if '/bookings/' in request.path %}active{% endif %}">
        My Bookings
    </a>
    
</li>

<li>
    <a href="{% url 'customer_dashboard' %}"
       class="{% if request.path == '/dashboard/customer/' %}active{% endif %}">
        Dashboard
    </a>
</li>
<li>

    <a href="{% url 'wishlist' %}" >

        <i class="fas fa-heart"></i>

        Wishlist

{% if user.is_authenticated and user.user_type == "customer" %}

<span class="wishlist-count">

{{ user.wishlist_items.count }}

</span>

{% endif %}

    </a>

</li>

        {% elif user.user_type == "owner" %}

            <li>
    <a href="{% url 'add_car' %}"
       class="{% if '/cars/add/' in request.path %}active{% endif %}">
        List Your Car
    </a>
</li>

<li>
    <a href="{% url 'my_cars' %}"
       class="{% if '/cars/my/' in request.path %}active{% endif %}">
        My Cars
    </a>
</li>

<li>
    <a href="{% url 'owner_dashboard' %}"
       class="{% if request.path == '/dashboard/owner/' %}active{% endif %}">
        Dashboard
    </a>
</li>
<li>
    <a href="{% url 'owner_bookings' %}"
       class="{% if request.path == '/bookings/owner-bookings/' %}active{% endif %}">
        Booking request
    </a>
</li>

{% elif user.user_type == "admin" %}
<li>
    <a href="#" class="{% if '/dashboard/admin/' in request.path %}active{% endif %}"></a>
    Dashboard
</li>
<li>
    <a href="#" class="{% if '/cars/admin/pending/' in request.path %}active{% endif %}"></a>
    Pending Cars
    
</li>
        {% endif %}

    {% else %}

        <li><a href="{% url 'browse_cars' %}">Rent Car</a></li>

        <li><a href="#">List Your Car</a></li>

        <li><a href="#">About</a></li>

        <li><a href="#">Contact</a></li>

    {% endif %}

</ul>

   <div class="auth-buttons">

    {% if user.is_authenticated %}
    <div class="theme-toggle" id="themeToggle">

    <i class="fas fa-moon"></i>

</div>
    <div class="notification-icon">
        <a href="{% url 'notifications' %}">
    <i class="fas fa-bell"></i>
</a>

    
</div>

<div class="user-profile"id="userProfile">

    {% if user.profile_picture %}

        <img src="{{ user.profile_picture.url }}" class="nav-profile-img">

    {% else %}

        {% load static %}
        <img src="{% static 'images/default-avatar.png' %}" class="nav-profile-img">

    {% endif %}
    {% if user.user_type == "customer" %}

    {% if user.customer_profile.verification_status == "Approved" %}
        <span class="status-dot approved"></span>

    {% elif user.customer_profile.verification_status == "Pending" %}
        <span class="status-dot pending"></span>

    {% else %}
        <span class="status-dot rejected"></span>

    {% endif %}

{% elif user.user_type == "owner" %}

    {% if user.owner_profile.verification_status == "Approved" %}
        <span class="status-dot approved"></span>

    {% elif user.owner_profile.verification_status == "Pending" %}
        <span class="status-dot pending"></span>

    {% else %}
        <span class="status-dot rejected"></span>

    {% endif %}


{% endif %}
    <span style="margin-right:15px; font-weight:600; color:#a9a5a5;">
        {{ user.first_name }}
    </span>

    <div class="profile-dropdown" id="profileDropdown">

        {% if user.user_type == "customer" %}

            <a href="{% url 'customer_dashboard' %}">
                Dashboard
            </a>
            

            <a href="{% url 'customer_profile' %}">
                My Profile
            </a>
            <a href="{% url 'my_bookings' %}">
    My Bookings
</a>
        {% elif user.user_type == "admin" %}

<li>
    <a href="{% url 'admin_dashboard' %}">
        Dashboard
    </a>
</li>

<li>
    <a href="{% url 'admin_car_list' %}">
        Pending Cars
    </a>
</li>

        {% else %}

            <a href="{% url 'owner_dashboard' %}">
                Dashboard
            </a>

            <a href="{% url 'owner_profile' %}">
                My Profile
            </a>
            <a href="{% url 'owner_bookings' %}">
    Booking Requests
</a>
<a href="{% url 'owner_notifications' %}">
    Notifications
</a>

        {% endif %}

        <a href="{% url 'logout' %}">
            Logout
        </a>

    </div>

</div>

{% else %}

        <a href="{% url 'login' %}" class="login-btn">
            Login
        </a>

        <a href="{% url 'signup' %}" class="signup-btn">
            Sign Up
        </a>

    {% endif %}

</div>

</nav>
{% if messages %}

<div class="messages-container">

    {% for message in messages %}

        <div class="alert {{ message.tags }}">

            {{ message }}

        </div>

    {% endfor %}

</div>

{% endif %}

{% block content %}
{% endblock %}